@use "sass/variables" as *;
@use "sass/fonts" as *;
/*SECTION 5 GRID*/
.section5 {
  margin: 5%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  width: fit-content;

  //.section5_img1 {
  //  grid-area: 1 / 3 / 3 / 6;
  //  align-self: end;
  //}
  //.section5_img2 {
  //  grid-area: 2 / 1 / 4 / 3;
  //}
  //.section5_img3 {
  //  grid-area: 3 / 3 / 4 / 4;
  //}
  //.section5_img4 {
  //  grid-area: 3 / 4 / 5 / 7;
  //  align-self: start;
  //}
  //.section5_img5 {
  //  grid-area: 2 / 6 / 3 / 7;
  //}
  //.section5_img6 {
  //  grid-area: 2 / 7 / 4 / 8;
  //}
}
