@font-face {
  font-family: syncopate;
  src: url(../Font/Syncopate/Syncopate-Regular.ttf);
}
@font-face {
  font-family: DM_sans;
  src: url(../Font/DM_Sans/static/DMSans-Regular.ttf);
}

// variables.
$coulerVert: #5c7d8291;
$couleurBlanc: #f1f2ef;
$couleurGris: #ababbb;
$fontTitre: 4rem;
$fontSousTitre: 2rem;
$fontParagraphe: 1.5rem;
$hrseparation: 5px solid green;

//general
* {
  box-sizing: border-box;
}
// pour qu'il soit adaptative
html {
  font-size: 62.5%;
}
.separation {
  border-top: $hrseparation;
}
/** NAV MENU**/
header {
  width: 100%;
}

.navmenu {
  width: 95%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navmenu_h1 {
    display: flex;
    margin: 1%;
    .navmenu_logo {
      width: 5rem;
    }
  }
}
.navmenu_liste {
  text-decoration: none;
  display: flex;
  gap: 4.8rem;
  margin-right: 5%;
  li {
    list-style-type: none;
    .navmenu_btn {
      font-family: DM_sans;
      text-decoration: none;
      font-size: $fontSousTitre;
    }
    .navmenu_btn:hover {
      text-decoration: underline;
    }
  }
}
.navmenu_burger {
  display: none;
}

/* SECTION 1 */
.section1 {
  width: 100%;
  .section1_img {
    width: 95%;
    padding: 2% 0 2% 5%;
  }
}
/* SECTION 2 */
.section2 {
  width: 100%;
  text-align: center;
  .section2_paragraphe {
    width: 100%;
    padding: 1% 30%;
    font-family: syncopate;
    font-size: $fontParagraphe;
  }
  .section2_input {
    height: 3rem;
    border-radius: 10px;
  }
  .section2_btn {
    height: 3rem;
    border-radius: 10px;
  }
}
/* SECTION 3 */
.section3 {
  width: 101.3%;
  height: 7rem;
  background-color: $couleurGris;
  margin: 2% 0 2% -1%;
  display: flex;
  justify-content: center;
  align-items: center;

  .section3_signature {
    display: flex;
    justify-content: center;
    align-items: baseline;

    .section3_img {
      height: 50%;
      margin-right: 15%;
    }

    .section3_btn {
      height: 3rem;
      border-radius: 10px;
      font-size: 1.5rem;
      padding: 0 5%;
    }
  }
}
