@font-face {
  font-family: syncopate;
  src: url(../Font/Syncopate/Syncopate-Regular.ttf);
}
@font-face {
  font-family: DM_sans;
  src: url(../Font/DM_Sans/static/DMSans-Regular.ttf);
}

// variables.
@use "variables" as *;
@use "general" as *;
@use "navmenu" as *;
@use "carousel" as *;
@use "jeux" as *;
@use "gird" as *;
@use "statistiques" as *;
